@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600&display=swap");

:root {
	--Pink: hsl(322, 100%, 66%);
	--VeryPaleCyan: hsl(193, 100%, 96%);
	--VeryDarkCyan: hsl(192, 100%, 9%);
	--GrayishBlue: hsl(208, 11%, 55%);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
}
main {
	position: relative;
}
.hero {
	font-family: "Poppins", sans-serif;
	background-image: url(/images/bg-hero-desktop.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 50vh;
	background-color: var(--VeryPaleCyan);
	overflow: auto;
}
.nav {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	margin-bottom: 7rem;
}
@media screen and (max-width: 600px) {
	.nav {
		display: flex;
		flex-direction: column;
	}
	.btn-nav-bg {
		margin-top: 1rem;
	}
}
.btn-nav-bg {
	background-color: #fff;
}
.btn-pink-button {
	margin-top: 2rem;
	padding: 0.54rem 2rem;
	background-color: var(--Pink);
	text-align: center;
	color: #fff;
	border: none;
	border-radius: 3rem;
}
@media screen and (max-width: 768px) {
	main h2 {
		margin: auto;
	}

	.btn-pink-button {
		margin: auto;
	}
}
.article {
	text-align: left;
	margin-bottom: 15rem;
}
.article > section:first-child {
	margin-top: 10rem;
}
.card-container {
	margin-top: 3rem;
	box-shadow: 2px 2px 10px lightgrey;
}
.card-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
@media screen and (max-width: 768px) {
	.card-content {
		text-align: center;
		order: 2;
	}
}
.small-container {
	background-color: #fff;
	width: 50%;
	height: 200px;
	padding: 10px;
	margin: auto;
	box-shadow: 2px 2px 10px lightgrey;
	text-align: center;
}

footer {
	background-color: #000;
	color: var(--VeryPaleCyan);
	overflow: hidden;
	text-align: left;

	.footer-sec {
		margin-top: 5rem;
	}
	.fa-message-dots {
		color: white;
	}
	.sep {
		display: -webkit-box;
	}
	.icons {
		margin-right: 1rem;
	}

	.lists {
		list-style: none;
		text-align: left;

		li {
			margin-top: 1rem;
		}
		a {
			text-decoration: none;
			color: var(--VeryPaleCyan);
		}
	}

	.social-icon {
		list-style: none;
		display: flex;
		gap: 1rem;
		justify-content: center;

		a {
			text-decoration: none;
			color: var(--VeryPaleCyan);
		}
	}

	.last {
		text-align: end;
	}
	@media screen and (max-width: 768px) {
		text-align: center;
	}
}
